<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Onboarding JSON</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="/css/app.css" th:href="@{/css/app.css}" />
    <link rel="icon" type="image/png" href="/images/favicon.png" th:href="@{/images/favicon.png}"/> 
    
    <!-- these meta tags have been added for Chubb -->
    <META HTTP-EQUIV="CACHE-CONTROL" CONTENT="no-store"/>
    <META HTTP-EQUIV="PRAGMA" CONTENT="NO-CACHE"/>
    <META HTTP-EQUIV="X-Content-Type-Options" CONTENT="nosniff"/>
    <META HTTP-EQUIV="X-XSS-Protection" CONTENT="1"/>
    <!-- this should be set on the server -->
    <!--<META HTTP-EQUIV="Strict-Transport-Security" CONTENT="max-age=31536000;includeSubDomains; preload"/>-->
    <META HTTP-EQUIV="X-Frame-Options" CONTENT="deny"/>
    
</head>
<body>
<div style="overflow-y:auto; height: 950px;">
    <TABLE border="1" height="100%" width="100%" cellpadding="0" cellspacing="0">
    <tr>
        <caption> JSON Content</caption>
        <td th:utext="${JSONFILE}">
        </td>

        <td th:utext="${REPORTFILE}">
        </td>

    </tr>

    </TABLE>
</div>

</body>
</html>
