<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Venmo Payment Example</title>
    <meta http-equiv="Content-Type" content="text/html, application/JSON; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="/css/app.css" th:href="@{/css/app.css}" />
    <link rel="icon" type="image/png" href="/images/favicon.png" th:href="@{/images/favicon.png}"/>

    <!-- these meta tags have been added for Chubb -->
    <META HTTP-EQUIV="CACHE-CONTROL" CONTENT="no-store"/>
    <META HTTP-EQUIV="PRAGMA" CONTENT="NO-CACHE"/>
    <META HTTP-EQUIV="X-Content-Type-Options" CONTENT="nosniff"/>
    <META HTTP-EQUIV="X-XSS-Protection" CONTENT="1"/>
    <!-- this should be set on the server -->
    <!--<META HTTP-EQUIV="Strict-Transport-Security" CONTENT="max-age=31536000;includeSubDomains; preload"/>-->
    <META HTTP-EQUIV="X-Frame-Options" CONTENT="deny"/>

    <script src="https://js.braintreegateway.com/web/3.90.0/js/client.min.js"></script>

    <!-- Load the Venmo Checkout component. -->
    <script src="https://js.braintreegateway.com/web/3.90.0/js/venmo.min.js"></script>
    <!-- This is to load the data collector -->
    <script src="https://js.braintreegateway.com/web/3.90.0/js/data-collector.min.js"></script>

    <script src="/javascript/venmoplay.js" />

</head>


<body>

<div id="venmo-button">
    <img src='https://cdn1.venmo.com/marketing/images/branding/downloads/venmo_logo_blue.svg'/>
</div>

</body>
</html>
